.box {
  width: 400px; 
  height: 400px; 
  border:2px rgb(20, 1, 1);
  overflow: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
  overflow-y: auto;
  margin-left: 50%;
}
.inputText {
  margin-left: 50%;
}